@* Views/Shared/_TopAlbumPartial.cshtml *@
<div class="bg-dark text-white rounded p-3 mt-4">
    <h5>Top Album</h5>
    <div class="mt-3 text-center">
        <img src="~/images/Yeezus.jpg" class="rounded" alt="Top Album" style="width:100%; height:auto;">
        <h6 class="mt-2">Yeezus</h6>
        <small>The Beatles</small>
    </div>
</div>

