<!-- Views/Shared/_Sidebar.cshtml -->
<div class="text-white p-3" style="min-height: 100vh; width: 220px; background: linear-gradient(to bottom, #b07d3e, #000000);">
    <h4 class="mb-4">WEB MUSIC</h4>

    <h5>Menu</h5>
    <ul class="nav flex-column mb-4">
        <li class="nav-item"><a class="nav-link text-white" href="/Home/Index">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/Browse/Index">Browse</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/Radio/Index">Radio</a></li>
    </ul>

    <h5>Library</h5>
    <ul class="nav flex-column mb-4">
        <li class="nav-item"><a class="nav-link text-white" href="/LikedSongs">Liked Songs</a></li>
    </ul>

    <h5>Playlists</h5>
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link text-white" href="/Playlist/Create">Create New Playlist</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">American Pop</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">American Hitz</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Nigerian Hitz</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">African</a></li>
    </ul>
</div>
